<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebApplication1.Properties.Settings._ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=online_public_bus_counter;Max Pool Size=100000000;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
   <customErrors defaultRedirect="error.aspx"
                      mode="On">
      
      </customErrors>

    
    
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime maxRequestLength="3000" executionTimeout="2000"></httpRuntime>
    </system.web>

</configuration>
